PORT=3000
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/auth/spotify/callback
SPOTIFY_SCOPES=playlist-read-private playlist-read-collaborative playlist-modify-public playlist-modify-private
TOKEN_STORAGE_PATH=./storage/tokens/spotify-token.json
EXPORT_DIRECTORY=./exports
SPOTIFY_MAX_RETRIES=3
